/*
body, * {
    border:1px solid black
}
*/

header {
    height:10vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
article {
    display: flex;

}
*/

